@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

@RenderSection("Styles", false)

<body>
    <div class="container">
        <partial name="_ManageNav" />
        <div class="container mt-3">
            @RenderBody()
        </div>
    </div>
</body>

@RenderSection("Scripts", false)