@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>My Account</h3>
<hr />

<partial name="_ManageNav" />
@RenderBody()

<hr />

@section Scripts {
    @RenderSection("Scripts", required: false)
}
