@inject SignInManager<TechAndToolsUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="product-tab">
    <ul class="tab-nav">
        <li class="active"><a data-toogle="tab" href="/Identity/Account/Manage/Index">Profile</a></li>
        <li><a data-toogle="tab" href="/Identity/Account/Manage/ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li><a data-toggle="tab" href="/Identity/Account/Manage/ExternalLogins">External logins</a></li>
        }
        <li><a data-toggle="tab" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>
        <li><a data-toggle="tab" href="/Identity/Account/Manage/PersonalData">Personal data</a></li>
    </ul>

    <ul class="tab-nav">
        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
        <li><a data-toggle="tab" href="#tab1">Details</a></li>
        <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
    </ul>
</div>
