@inject SignInManager<TechAndToolsUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link active" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a></li>
</ul>

