@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="d-flex justify-content-center">
    <h3 class="jumbotron col-md-6 cat_menu_text" style="background: #0e8ce4;">@ViewData["Title"]</h3>
</div>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="container d-flex justify-content-center">
        <form id="change-password-form" class="col-md-6" method="post">
            <div class="form-group">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                <input asp-for="Input.OldPassword" class="form-control text-center" placeholder="Old Password" />
            </div>
            <div class="form-group">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                <input asp-for="Input.NewPassword" class="form-control text-center" placeholder="New Password" />
            </div>
            <div class="form-group">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <input asp-for="Input.ConfirmPassword" class="form-control text-center" placeholder="Confirm New Password" />
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
