@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
}

<div class="d-flex justify-content-center">
    <h3 class="jumbotron col-md-6 cat_menu_text" style="background: #0e8ce4;">@ViewData["Title"]</h3>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="text-center">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
