@model ProductPriceFilterViewModel

<div class="sidebar_section filter_by_section">
    <div class="sidebar_title"> Филтрирай по</div>
    <div class="sidebar_subtitle"> Цена</div>
    <div class="filter_price">
        <div id="slider-range" class="slider_range"></div>
        <p>Range: </p>
        <p><input type="text" id="amount" class="amount" readonly style="border: 0; font-weight: bold;"></p>
    </div>
</div>