<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">All</li>
        </ul>
    </div>
</div>