@using TechAndTools.Web.ViewModels.Administration.MainCategories
@model TechAndTools.Web.InputModels.Administration.Categories.CategoryCreateInputModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add Category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label">Main Category</label>
                <select class="form-control text-primary" id="type" asp-for="MainCategoryId">
                    <option selected disabled>--- Select Main Category ---</option>
                    @foreach (var mainCategory in (IEnumerable<CreateCategoryMainCategoryViewModel>)this.ViewData["mainCategories"])
                    {
                        <option value="@mainCategory.Id">@mainCategory.Name</option>
                    }
                </select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
