@model TechAndTools.Web.InputModels.Suppliers.SupplierEditInputModel

@{
    ViewData["Title"] = "Промени Куриер";
}

<div class="container">
    <hr />
    <div class="text-center text-primary" style="text-transform: uppercase">
        <h3>@ViewData["Title"]</h3>
    </div>
    <hr />
    <div class="d-flex justify-content-around">
        <form class="rounded p-3 w-50 mx-auto mt-3" asp-area="Administration" asp-controller="Suppliers" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label h6"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToOffice" class="control-label h6"></label>
                <input asp-for="PriceToOffice" class="form-control" />
                <span asp-validation-for="PriceToOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToAddress" class="control-label h6"></label>
                <input asp-for="PriceToAddress" class="form-control" />
                <span asp-validation-for="PriceToAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTimeInDays" class="control-label h6"></label>
                <input asp-for="DeliveryTimeInDays" class="form-control" />
                <span asp-validation-for="DeliveryTimeInDays" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Запази" class="btn btn-outline-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
