@{
    ViewData["Title"] = "Admin Home";
}

<h1>Hello from Admin area!</h1>

<div>
    <ul>
        <li>
            <a asp-area="Administration" asp-controller="Brands" asp-action="Index">Brands</a>
        </li>
    </ul>
</div>

