@model IEnumerable<TechAndTools.Web.ViewModels.ShoppingCart.ShoppingCartProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix">
                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">My Cart</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th></th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td class="thumb"><img src="@product.ImageUrl" alt=""></td>
                                    <td class="details">
                                        <a href="#">@product.Name</a>
                                    </td>
                                    <td class="price text-center"><strong>$@product.Price</strong><br><del class="font-weak"></del></td>
                                    <td class="qty text-center"><input class="input" type="number" value="@product.Quantity"></td>
                                    <td class="total text-center"><strong class="primary-color">$@product.TotalPrice</strong></td>
                                    <td><a asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@product.Id" class="main-btn icon-btn"> <i class="fa fa-close"></i></a></td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="empty" colspan="3"></th>
                                    <th>TOTAL</th>
                                    <th colspan="2" class="total">$@Model.Sum(x => x.Price)</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <button class="primary-btn">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->